@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATH Hostel Reservation system</h1>
    <p>
        Prosta apka webowa do obsługi systemu rezerwacji hosteli. Aplikacja pozwala na dodawanie nowcych przybytków,
        usuwanie i modyfikowanie. Ponadto można również dodawać pokoje, informacje o nich, przypisywać do konkrentych
        hosteli.
     </p>
    <p>Do listy Hosteli, oraz pokojów można przejść przez górną część layoutu.
    </p>
    
    <img height="220px" src="images/pexels-pixabay-271618.jpg" />
    <img height="220px" src="images/pexels-pixabay-271639.jpg"/>
    <img height="220px" src="images/pexels-pixabay-271672.jpg"/>
</div>
