html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-ul {
    list-style: none;
}
.home-a {
    color: #212529;
    text-decoration: none;
}